@font-face {
  font-family: myFont;
  src: url(/Browncat.ttf);
}
html {
  font-family: myFont;
}

body {
  background-color: #acbfa4;
  color: black;
}
body .hidden-letter {
  display: inline-block;
  width: 20px;
  margin: 5px;
  font-size: 24px;
}
body .guessed-letters {
  margin-top: 20px;
}