$primary-color: #922724;
$secondary-color:#e2e8ce;
$tertiary-color:#262626;
@font-face {
    font-family: myFont;
    src: url(./Font.ttf);
}
html {
    font-family: myFont;
}
body {
    background-color: $primary-color;
    color: black;
    margin-top: 6vh;
    .hidden-letter {
        display: inline-block;
        width: 20px;
        margin: 5px;
        font-size: 24px;
    }
    .guessed-letters{
        margin-top: 20px;
    }
}
.game {
    display: grid;
    grid-template-columns: [f] 50% [s] 50% [end];
    grid-template-rows: [first] auto [end];
    background-color: $secondary-color;
    // align-items: center;
    justify-content: center;
    // align-content: center;
    // justify-items: center;
    width: 80vw;
    height: 90vh;
    border-radius: 20px;
}
.right-side {
    grid-column: s/end;
    grid-row: first/end;
}
.left-side {
  grid-column: f/s;
  grid-row: first/end;
}